<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-full bg-gray-100">
<head>
  <title>Nieuwe Activiteit</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen text-gray-800">

<div th:insert="fragments/header :: header"></div>

<main class="flex-grow max-w-4xl mx-auto py-8 px-4">
  <h1 class="text-2xl font-bold mb-4">Voeg een nieuwe activiteit toe</h1>

  <form th:action="@{/activiteit/toevoegen}" th:object="${activiteit}" method="post" class="space-y-4">
    <div>
      <label class="block">Naam:</label>
      <input type="text" th:field="*{naam}" class="border p-2 w-full"/>
    </div>

    <div>
      <label class="block">Omschrijving:</label>
      <textarea th:field="*{uitleg}" class="border p-2 w-full"></textarea>
    </div>

    <div>
      <label class="block">Organisator:</label>
      <input type="text" th:field="*{organisator}" class="border p-2 w-full"/>
    </div>

    <div>
      <label class="block">Contact e-mail:</label>
      <input type="email" th:field="*{contactEmail}" class="border p-2 w-full"/>
    </div>

    <div>
      <label class="block">Datum en Tijd:</label>
      <input type="datetime-local" th:field="*{moment}" class="border p-2 w-full"/>
    </div>

    <div>
      <label class="block">Locatie:</label>
      <select th:field="*{locatie}" class="border p-2 w-full">
        <option th:each="loc : ${plaatsen}" th:value="${loc.id}" th:text="${loc.naam}"></option>
      </select>
    </div>

    <div>
      <label class="block">Doelpubliek:</label>
      <input type="text" th:field="*{doelpubliek}" class="border p-2 w-full"/>
      <p th:if="${#fields.hasErrors('doelpubliek')}" th:errors="*{doelpubliek}" class="text-red-500 text-xs italic mt-1"></p>
    </div>
    
  
    <div>
      <button type="submit" class="border p-2 w-full bg-green-700">Opslaan</button>
    </div>

    <div th:if="${#fields.hasErrors()}">
      <p class="text-red-600">❌ Gelieve alle velden correct in te vullen.</p>
    </div>
  </form>
</main>

<div th:insert="fragments/footer :: footer"></div>

</body>
</html>
